doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Bare Minimum Guides
    meta(name='description', content='The HTML5 Herald')
    meta(name='James Laskey', content='SitePoint')
    link(rel='stylesheet', href='public/css/style.css')
  body
    ul.navbar
      li.apparel
        a.apparel(href='apparel') Apparel
      li.guides
        a.guide(href='guides') Guides
      li.lessons
        a.lesson(href='lessons') Lessons
      a.about(href='about') About
    .aboutPage
      h1.title(style='text-align:center;') Do less, to do more!
      p
        | Bare Minimum was created by James Laskey to simplify the seemingly impossible mission to get in shape. It is a lifestyle of being as efficient as possible to achieve the best results possible. Some tend to think doing the Bare Minimum is not enough but sometimes it's better to sprint sporadically than to walk the entire way.
      h3(style='color:white; text-align:center;') Bare Minimum
      p
        | bareminimum_@gmail.com
      a(href="https://www.instagram.com/bare.minimum_/")
        img#socialmediaicon(src='public/resources/imgs/instagram.png')
      a(href="www.google.com")
        img#socialmediaicon(src='public/resources/imgs/twitter.png') 
      a(href="www.google.com")
        img#socialmediaicon(src='public/resources/imgs/youtube.png') 
