doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Bare Minimum Guides
    meta(name='description', content='The HTML5 Herald')
    meta(name='James Laskey', content='SitePoint')
    link(rel='stylesheet', href='public/css/style.css')
  body
    a#homebutton(href='/')
      img(src="public/resources/imgs/BM-title.png", style="margin-left:5%;")
    .aboutPage
      h1.title(style='text-align:center;') Do less, to do more!
      p
        | Bare Minimum was created by James Laskey to simplify the seemingly impossible mission to get in shape. It is a lifestyle of being as efficient as possible to achieve the best results possible. Life is already hard enough why make it harder for yourself?
      h3(style='color:white; text-align:center;') Bare Minimum
      h3 Contact the Creator at..
      p
        | james@bareminimum.site
      a(href="https://www.facebook.com/bare.minimumsb/")
        img#socialmediaicon(src="https://img.icons8.com/color/48/000000/facebook.png")
      a(href="https://www.instagram.com/bare.minimum_/")
        img#socialmediaicon(src='public/resources/imgs/instagram.png')
      a(href="https://www.youtube.com/channel/UCgEM_Uyk3ZSfCTxumZ37ytA?view_as=subscriber")
        img#youtube(src='public/resources/imgs/youtube.png') 
