doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Reviews for: Bare Minimum Eating Guide
    meta(name='Bare Minimumm review page', content='The HTML5 Herald')
    meta(name='jlaskk', content='SitePoint')
    link(rel='stylesheet', href='public/css/style.css')
  body
    img.banner(src='public/resources/imgs/BM-websitebannerAlt.png')
    ul.navbar
      li.apparel
        a.apparel(href='apparel') Apparel
      li.guides
        a.guide(href='guides') Guides
      a.about(href='about') About
    .apparelCenter
      .leftCatalog
        img.item(src='public/resources/imgs/apparel/BMTeeWhiteG.jpg')
        a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=UUFU4FVS9RAHL')
          img(src='https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif', alt='Buy Now Button')
        img.item(src='public/resources/imgs/apparel/BMTeeGreyR.jpg' style='transform:rotate(90deg')
        a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Z2Y5BLHKT38ZG')
          img(src='https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif', alt='Buy Now Button')
      .rightCatalog
        img.item(src='public/resources/imgs/apparel/BMTeeBlackR.jpg')
        a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Z65XBQSYQGAZ8' style='float:right')
          img(src='https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif', alt='Buy Now Button')
        img.item(src='public/resources/imgs/apparel/BMTeeBlackG.jpg')
        a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=W8P7Z7HYBTSKC' style='float:right')
          img(src='https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif', alt='Buy Now Button')

    script(src='public/controllers/js/script.js')
