doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Reviews for: Bare Minimum Eating Guide
    meta(name='Bare Minimumm review page', content='The HTML5 Herald')
    meta(name='jlaskk', content='SitePoint')
    link(rel='stylesheet', href='public/css/style.css')
  body
    ul.navbar
      li.apparel
        a.apparel(href='apparel') Apparel
      li.guides
        a.guide(href='guides') Guides
      li.lessons
        a.lesson(href='lessons') Lessons
      a.about(href='about') About
    .Catalog
      img.item(src='public/resources/imgs/apparel/BMPS-Drop003-001.png')
      a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=UUFU4FVS9RAHL')
      form.buynow(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
        input(type='hidden', name='cmd', value='_s-xclick')
        input(type='hidden', name='hosted_button_id', value='89YKJKFVMP2E8')
        table
          tbody
            tr
              td
                input(type='hidden', name='on0', value='Size')
                | Size
            tr
              td
                select(name='os0')
                  option(value='Small') Small 
                  option(value='Medium') Medium 
                  option(value='Large') Large 
        input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
        img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
      img.item(src='public/resources/imgs/apparel/BMPS-Drop003-002.png')
      form.buynow(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
        input(type='hidden', name='cmd', value='_s-xclick')
        input(type='hidden', name='hosted_button_id', value='ST4M33WWARWSU')
        table
          tbody
            tr
              td
                input(type='hidden', name='on0', value='Size')
                | Size
            tr
              td
                select(name='os0')
                  option(value='Small') Small 
                  option(value='Medium') Medium 
                  option(value='Large') Large 
        input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
        img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
      img.item(src='public/resources/imgs/apparel/BMPS-Drop003-004.png')
      form.buynow(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
        input(type='hidden', name='cmd', value='_s-xclick')
        input(type='hidden', name='hosted_button_id', value='6PX8N8AWK9932')
        table
          tbody
            tr
              td
                input(type='hidden', name='on0', value='Size')
                | Size
            tr
              td
                select(name='os0')
                  option(value='Small') Small 
                  option(value='Medium') Medium 
                  option(value='Large') Large 
        input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
        img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
      img.item(src='public/resources/imgs/apparel/BMPS-Drop003-006.png')
      form.buynow(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
        input(type='hidden', name='cmd', value='_s-xclick')
        input(type='hidden', name='hosted_button_id', value='ST4M33WWARWSU')
        table
          tbody
            tr
              td
                input(type='hidden', name='on0', value='Size')
                | Size
            tr
              td
                select(name='os0')
                  option(value='Small') Small 
                  option(value='Medium') Medium 
                  option(value='Large') Large 
        input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
        img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
      img.item(src='public/resources/imgs/apparel/BMPS-Drop003-007.png')
      form.buynow(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
        input(type='hidden', name='cmd', value='_s-xclick')
        input(type='hidden', name='hosted_button_id', value='2CYUEH9QKZ4Z4')
        table
          tbody
            tr
              td
                input(type='hidden', name='on0', value='Size')
                | Size
            tr
              td
                select(name='os0')
                  option(value='Small') Small 
                  option(value='Medium') Medium 
                  option(value='Large') Large 
        input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
        img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
    script(src='public/controllers/js/script.js')
