doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Reviews for: Bare Minimum Eating Guide
    meta(name='Bare Minimumm review page', content='The HTML5 Herald')
    meta(name='jlaskk', content='SitePoint')
    link(rel='stylesheet', href='public/css/style.css')
  body
    img.banner(src='public/resources/imgs/BM-websitebannerAlt.png')
    ul.navbar
      li.apparel
        a.apparel(href='apparel') Apparel
      li.guides
        a.guide(href='guides') Guides
      a.about(href='about') About
    h1.title Reviews:
    .newReview
      h2 Write a Review
      form(action='/processReview', method='post')
        .revieweeName
          label Name
          input.revieweeNameInput(type='text', name='revieweeName')
        br
        label Email
        input.revieweeNameInput(type='email', name='email')
        br
        label.reviewLabel Review
        br
        input.userReview(type='text', name='review')
        label Rating
        input.ratingSelect(type='number', name='rating', min='1', max='5')
        button.submitButton(type='submit', onclick='insertReview()') Submit
    #reviews
      .reviewBox
      block content
        each val in guideReviews
          h3.review= val.name
          p.review= val.review
          img.rating(src='public/resources/imgs/reviewStar' + val.rating + ".png") 
    script(src='public/controllers/js/script.js')
