doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Jlaskk
    meta(name='description', content='Personal Static site')
    meta(name='James Laskey', content='SitePoint')
    link(rel='stylesheet', type='text/css', href='public/css/style.css', charset='utf-8')
  body
    .header
      img(src='public/resources/imgs/BM-logo.png')
    h1 Do less to do more!
    .director
      a.apparel(href='apparel.html') Apparel
      a.guides(href='guides.pug') Guides
