doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Bare Minimum Guides
    meta(name='description', content='The HTML5 Herald')
    meta(name='James Laskey', content='SitePoint')
    link(rel='stylesheet', href='public/css/style.css')
  body
    ul.navbar
      li.apparel
        a.apparel(href='apparel') Apparel
      li.guides
        a.guide(href='guides') Guides
      li.lessons
        a.lesson(href='lessons') Lessons
      a.about(href='about') About
    iframe(width='1200', height='603', src='https://www.youtube.com/embed/iyXCCrUWOjc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    iframe(width='1200', height='603', src='https://www.youtube.com/embed/hU9AjpiZ2Yo', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
