doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title BM Functional Fitness
		meta(name='Bare Minimum', content='Exercise Education')
		meta(name='James Laskey', content='SitePoint')
		link(rel='stylesheet', type='text/css', href='public/css/reviews.css', charset='utf-8')
		script(src="https://code.jquery.com/jquery-3.4.1.min.js")
		script(src='public/controllers/js/script.js')
	body
		.review
			#reviews
				#scrollReview
					.reviewBox
						block content
							each val in guideReviews
								h3.review= val.name
								p.review= val.review
								img.rating(src='public/resources/imgs/reviewStar' + val.rating + ".png")
		.feedback
			.newReview
				h3#smallerLabels Leave a Review
					br
					form(action='/processReview', method='post')
					label#smallerText Name
					br
					input#textbox(type='text', name='revieweeName' required)
					br
					label#smallerText Email
					br
					input#textbox(type='email', name='email' required)
					br
					label#smallerText Review
					br
					textarea#largeTextbox(type='text', name='review' required)
					br
					label#smallerText Rating
					select.ratingSelect(type='number' required)
						option(value="1") 1
						option(value="2") 2
						option(value="3") 3
						option(value="4") 4
						option(value="5") 5
					button#bmbutton(type='submit' width='5vw' height='4vh') Submit
		.submittedQuestions
			#scrollReview
				#submission
					block content
						each val in questions
							p.review= val.submittedquestion
							button.bmbutton(onclick='viewComments(this)', id=val.marker) View Comment
		.question
			h3#smallerLabels Ask a fitness question
			br
			form#question(method='post', action='/question')
				label#smallerText Name
				br
				input#textbox(type='text', name='fitname' required)
				br
				label#smallerText Email
				br
				input#textbox(type='email', name='fitemail' required)
				br
				label#smallerText Question
				br
				textarea#largeTextbox(name='fitquestion' required)
				br
				button#bmbutton(type='submit' width='5vw' height='4vh') Ask!
