doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    script(type='text/javascript', src='https://js.squareup.com/v2/paymentform')
    script(src='public/controllers/js/sqpaymentform.js')
    title Support
    meta(name='Support Page', content='The HTML5 Herald')
    meta(name='jlaskk', content='SitePoint')
    link(rel='stylesheet', href='public/css/style.css')
    link(rel='stylesheet', href='public/css/sqpaymentform.css')
  body
    img.banner(src='public/resources/imgs/BM-websitebanner.png')
    ul.navbar
      li.apparel
        a.apparel(href='apparel.pug') Apparel
      li.guides
        a.guide(href='guides') Guides
      a.about(href='about.pug') About
    .paymentBox
      #sq-ccbox
        //
          You should replace the action attribute of the form with the path of
          the URL you want to POST the nonce to (for example, "/process-card")
        form(id="nonce-form" novalidate action="https://connect.squareup.com/" method="post" name="nonceForm")
      div(id="error")
      table
        tbody
          tr
            td(class="label") Card Number:
            td
              div(id="sq-card-number")
          tr
            td(class="label") CVV:
            td
              div(id="sq-cvv")
          tr
            td(class="label") Expiration Date:
            td
              div(id="sq-expiration-date" autocompletetype="cc-exp-date")
          tr
            td(class="label") Postal Code:
            td
              div(id="sq-postal-code")
          tr
            td
            td
              button(id="sq-creditcard" class="button-credit-card" onclick="requestCardNonce(event)").
                Pay $24.99 Now

      input(type="hidden" id="card-nonce" name="nonce")
    div(id="sq-walletbox")
    Pay with a Digital Wallet
    
    div(id="sq-masterpass-label" class="wallet-not-enabled").
      Masterpass not enabled
    <!-- Placeholder for Masterpass button -->
    button(id="sq-masterpass" class="button-masterpass").
        






        a(href="www.google.com")
        img#socialmediaicon(src='public/resources/imgs/twitter.png') 


