html {
    background-color: black;
    font-family: "Impact", monospace;
    color: white;
}
body {
    margin: 0px;
}
/*********
groupout styling
******/
.groupout {
    text-align: center;
    font-size: 40px;
}
.groupout form {
    border: solid 5px #e5bb35; 
}

.groupout input {
    width: 80vw;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 20px;
    height: 8vh;
    color: white;
    font-size: 40px;
}
.groupout textarea {
    width: 80vw;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 20px;
    height: 10vh;
    color: white;
    font-size: 40px;
}
.groupout button {
    width: 15vw;
    height: 5vh;
    background-color: white;
    margin-top: 5%;
}
#gad {
    width: 80vw;
    border: solid white 2px;
    margin-bottom: 5%;
}
#exit {
    position: fixed;
    top: 10%;
    right: 38%;
}
.donation{
    background-color: transparent;
    
}
.toShow {
    color: white;
    background-color: black;
    background-opacity: 0.6;
    border: solid 2px white;
    border-radius: 5%;
    padding: 5%; 
    text-align: center;
    position: fixed;
    top: 5%;
    left: 38%;
    visibility: hidden;
    z-index: 99;
}
.toShow form {
    margin-left: 10%;
}
#donation {
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 99;
    height: 100px;
    width: 100px;
    z-index: 99;
    border-radius: 50%;
    border: solid 2px #e5bb35;
    background-color: transparent;
}
.coverPhoto{
    width: 100vw;
    height: 50vw;
    position: relative;
    display: inline-block;

}
.coverPhoto img {
    height: 60vw;
    width: 105vw;
    padding-right: 10px;
}
#title {
    position: absolute;
    top: -5%;
    left: 10%;
    height: 40%;
    width: 90vw;
}
.guides {
    display: inline-flex;
    width: 100vw;
    color: white;
    margin-top: -10%;
    padding-top: 10%;
    float: left;
    background-color: black;
}
.guides img {
    width: 15vw;
    height: 35vh;
}

#guidetitle {
    text-align: center;
    font-weight: 300;
    line-height: 0.1em;
    font-size: 40px;
}
#guide {
    width: 20vw;
    margin-left: 2%;
}
#guidebuttons {
    font-size:70px;
    text-align: center;
}
#description {
    font-size: 13px;
    text-align: justify;
}
#cover {
    border:10px solid #e5bb35;
    border-radius: 2%;
    margin-left: 10%;
}
.container {
    background-color: black;
    height: 100vh;
    width: 100vw;
    color: white;
    padding-top: 5%;
}

/***********

Apparel Styling

 ***************/
 .item {
    width: 375px;
    height: 250px;  
    border:10px solid #e5bb35;
    border-radius: 2%;
    margin-top: 5%; 
 }

 .Catalog {
    padding: 0px;
    background-color: black;

 }

 .leftCatalog  {
    width: 45vw;
    display: inline-block;
    padding-left: 10%;
 }

 .rightCatalog {
    float: right;
    padding-right: 10%;

 }
 .rightCatalog .buynow {
    margin-left: 30%;
 }
 .rightCatalog .buynow table {
    margin-left: 17%;
 }
 .buynow {
    color: white;
    margin-left: 15%;
 }
 .buynow table {
    margin-left: 8.8%;
        text-align: center;
 }


 #apparelTitle {
    text-align: center;
    color: white;
 }
 /******
 About Page
 *******/
 .aboutPage {
    color: black;
    text-align: center;
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
 }
 #homebutton {
    height: max-content;
    width: max-content;
 }
 #socialmediaicon {
    height: 21px;
    margin-bottom: 5px;
 }
 #youtube {
    height: 30px;
 }
 /*******
 Lessons page
 ********/
 iframe {
    margin-left: 120px;
    margin-top: 5%;
    border:4px solid #e5bb35;
    width: 1200px;
    height: 603px;
 }
 /* All of the mobile adjustments

    */
    @media screen and (min-width: 375px){
    #bannertext {
        text-align: center;
        font-size: 90px;
    }
    #title {
        left: 5%;
    }

    iframe {
    margin-left: 90px !important;
    margin-top: 5% !important;
    width: 800px !important;
    height: 603px !important;
    }
    #bminput {
        background-color: white;
    }
    #bmbutton{
        background-color: white;
    }
    .bmbutton {
        background-color: white;
    }
    .coverPhoto  img {
        width:100vw;
    }
    #exit {
        top: 7%;
        right: 16%;
        width: 4vw;
        height: 3vh;
    }
    #guide {
        display: contents;
    }
    .guides {
        display: block;
        padding-bottom: 5%;
    }
    .guides a {
        font-size: 30px;
    }
    .guides p {
        font-size: 25px;
    }
    .ratingSelect {
        background-color: white;
    }
    #description {
        padding: 2%;
        font-size: 30px;
    }
    #commentbox {
        left: 5%;
        width: 90vw;
        height: 60vh;
    }
    #cover {
        margin-left: 26%;
        width: 45vw;
    }
    #cover;hover {
        cursor: pointer;
    }
    .review {
        display: inline-flex;
        margin-left: 2%;
    }
    #reviews {
        width: 50vw;
    }
    .review h3 {
        font-size: 30px;
    }
    .review  p {
        font-size: 25px;
    }
    .submittedQuestions {
        display: inline-flex;
        float: right;
        width: 45vw;
        border-left: solid grey 2px;
        padding-left: 1%;
    }
    .donation select {
        background-color: white;
        height: 4vh;
        width: 40vw;
        font-size: 40px;
    }
    .donation input { 
        height: 4vh;
        width: 40vw;
        font-size: 35px;
     }
    #donation {
        width: 250px;
        height: 250px;
    }
    #donation text {
        font-size: 40px;
    }
    #comments p {
        font-size: 25px;
        width: inherit;
    }
    .donation {
        font-size: 45px;
    }
    .toShow {
        left: 16%;
    }
    .toShow form {
        margin-left: 17%;
    }
    .item {
        width: 300px;
        height: 250px;   
    }
    
     .Catalog {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    }
    .Catalog select {
        background: white;
    }
    
    .buynow table {
        margin-left: 12%;
    }
    .newReview {
        border-bottom: solid 0px black;
        width: 45vw;
        display: inline-block;
        margin-left: 3%;
    }
    .question {
        width: 45vw;
        display: inline-block;
        position: absolute;
    }
    .bookInfo {
    color: black;
    width: 50%;
    font-size: 12px;
    margin-left: 40%;
    padding: 0px;  
    padding-bottom: 40%;
    }
    .Cover {
    float: left;
    width: 25%;
    border:2px solid #e5bb35;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    .center {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    background-color: black;
    height: max-content; 
}
    .invItem {
    border-style: solid;
    border-radius: 2px 10px 4px 20px; 
    padding: 10%;    
    margin-bottom: 5%;
    border-radius: 5%;
    background-color: white;
    }
    #homebutton img {
        width: 90vw;
        height: 25vh;
    }
    
}
@media screen and (max-width: 500px) {

    iframe {
    margin-left: 90px;
    margin-top: 5%;
    width: 800px;
    height: 603px;
    }
    .coverPhoto  img {
        width:107vw;
    }
    #guide {
        display: contents;
    }
    .guides {
        display: block;
    }
    #description {
        padding: 2%;
    }
    #cover {

        margin-left: 22%;
        width: 45vw;
    }
    #cover:hover {
        cursor: pointer;
    }
    .review {
        display: inline-flex;
        width: 40vw;
    }
    
    .submittedQuestions {
        display: inline-flex;
        float: right;
        width: 40vw;
    }
    .bookInfo {
    color: black;
    width: 50%;
    font-size: 12px;
    margin-left: 40%;
    padding: 0px;  
    padding-bottom: 40%;
    }
    .Cover {
    float: left;
    width: 25%;
    border:2px solid #e5bb35;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    .center {
    margin-left: 20px;
    margin-right: 0px;
    background-color: black;
    height: max-content;
    position: relative;
    top: -23px; 
    }
    .invItem {
    border-style: solid;
    border-radius: 2px 10px 4px 20px; 
    padding: 10%;    
    margin-bottom: 5%;
    border-radius: 5%;
    background-color: white;
    }
    .invItem h1 {
        font-size: 150%;
    }

    
    .rightCatalog {
        margin-right: 0px;
        float: right;
        width: 170px;
        padding: 0px;
    }
    .leftCatalog img {
        margin: 10px;
    }
    .leftCatalog {
        float: left;
        width: 170px;
        padding: 0px;
        margin-left: 0px;
    }
     .rightCatalog img {
        margin: 10px;
    }
}

